fastapi
uvicorn[standard]
sqlalchemy
psycopg[binary]
pydantic
pydantic-settings
python-dotenv
python-multipart
PyJWT
cryptography
duckdb
polars
clerk-backend-api
groq
psycopg2
fastexcel
pyarrow
boto3
psycopg2-binary